# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause
[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "win-64"]

[pypi-dependencies]
numba-cuda = { path = ".", editable = true }

[dependencies]
# core deps
python = ">=3.9"
numba = ">=0.60.0"
cuda-core = ">=0.3,<0.4.0dev0"
cuda-bindings = ">=12.9,<14"
cuda-python = ">=12.9,<14"

[feature.build.dependencies]
cuda-compiler = "*"
make = "*"
cxx-compiler = "*"

[feature.cu.dependencies]
cuda-nvcc = "*"
cuda-nvcc-impl = "*"
cuda-cuobjdump = "*"
cuda-nvrtc = "*"
libnvjitlink = "*"
cuda-cccl = "*"
libcurand = "*"

[feature.cu-12.system-requirements]
cuda = "12"

[feature.cu-12.dependencies]
cuda-version = "12.*"

[feature.cu-12-0.dependencies]
cuda-version = "12.0.*"
# cuda-runtime fails to solve because of nvjitlink

[feature.cu-12-2.dependencies]
cuda-version = "12.2.*"
cuda-nvvm = "*"
# cuda-runtime fails to solve because of nvjitlink

[feature.cu-12-8.dependencies]
cuda-version = "12.8.*"
cuda-nvvm = "*"
cuda-runtime = "*"

[feature.cu-12-9.dependencies]
cuda-version = "12.9.*"
cuda-nvvm = "*"
cuda-runtime = "*"

[feature.cu-13.system-requirements]
cuda = "13"

[feature.cu-13.dependencies]
cuda-version = "13.*"
cuda-runtime = "*"
cuda-nvvm = "*"

[feature.cu-13-0.dependencies]

[feature.bench.dependencies]
pytorch = ">=2.8"
pytorch-gpu = ">=2.8"
libtorch = ">=2.8"
cupy = "*"

[feature.test.dependencies]
pre-commit = "*"
psutil = "*"
cffi = "*"
pytest = "*"
pytest-xdist = "*"
pytest-benchmark = "*"

[feature.test.pypi-dependencies]
ml_dtypes = "*"
filecheck = "*"

[environments]
# CUDA 12
cu-12-0 = { features = [
    "cu-12-0",
    "test",
    "build",
    "cu",
    "cu-12",
], solve-group = "cu-12-0" }
cu-12-2 = { features = [
    "cu-12-2",
    "test",
    "build",
    "cu",
    "cu-12",
], solve-group = "cu-12-2" }
cu-12-8 = { features = [
    "cu-12-8",
    "test",
    "build",
    "cu",
    "cu-12",
], solve-group = "cu-12-8" }
cu-12-9 = { features = [
    "cu-12-9",
    "test",
    "build",
    "bench",
    "cu",
    "cu-12",
], solve-group = "cu-12-9" }
# CUDA 13
cu-13-0 = { features = [
    "cu-13-0",
    "test",
    "build",
    "cu",
    "cu-13",
], solve-group = "cu-13-0" }

[target.linux.tasks]
build-tests = { cmd = [
    "make",
    "-j",
    "$(nproc)",
    "-C",
    "$PIXI_PROJECT_ROOT/testing",
] }
clean-tests = { cmd = [
    "make",
    "-j",
    "$(nproc)",
    "-C",
    "$PIXI_PROJECT_ROOT/testing",
    "clean",
] }
bench = { cmd = [
    "pytest",
    "$PIXI_PROJECT_ROOT/testing",
    "--pyargs",
    "numba.cuda.tests.benchmarks",
    "--benchmark-only",
    "--benchmark-enable",
    "--benchmark-autosave",
    "--benchmark-group-by=func",
] }
benchcmp = { cmd = [
    "pytest",
    "$PIXI_PROJECT_ROOT/testing",
    "--pyargs",
    "numba.cuda.tests.benchmarks",
    "--benchmark-only",
    "--benchmark-enable",
    "--benchmark-group-by=name",
    "--benchmark-compare",
] }

[target.linux.tasks.test]
cmd = ["pytest", "$PIXI_PROJECT_ROOT/testing"]
env = { NUMBA_CUDA_TEST_BIN_DIR = "$PIXI_PROJECT_ROOT/testing" }
depends-on = [{ task = "build-tests" }]

[target.linux.tasks.simtest]
cmd = ["pytest", "$PIXI_PROJECT_ROOT/testing"]
depends-on = [{ task = "build-tests" }]

[target.linux.tasks.simtest.env]
NUMBA_CUDA_TEST_BIN_DIR = "$PIXI_PROJECT_ROOT/testing"
NUMBA_ENABLE_CUDASIM = "1"
